In [3]:
import os
import glob
import pandas as pd

In [4]:
os.chdir(os.curdir)

In [7]:

all_files = [i for i in glob.glob('*.csv')]

In [12]:
len(all_files)

180

In [14]:
pd.read_csv(all_files[1],delimiter = ';')

,Time,durP1,ratioP1,P1,durP2,ratioP2,P2,SDS_P1,SDS_P2,PMS_P1,...,BMP_pressure,BME280_temperature,BME280_humidity,BME280_pressure,Samples,Min_cycle,Max_cycle,Signal,HPM_P1,HPM_P2
0,2019/05/04 00:02:35,NaN,NaN,NaN,NaN,NaN,NaN,25.48,17.52,NaN,...,NaN,NaN,NaN,NaN,1782962,80,47283,-64,NaN,NaN
1,2019/05/04 00:07:52,NaN,NaN,NaN,NaN,NaN,NaN,23.50,13.43,NaN,...,NaN,NaN,NaN,NaN,1782622,80,49573,-66,NaN,NaN
2,2019/05/04 00:10:20,NaN,NaN,NaN,NaN,NaN,NaN,19.35,15.75,NaN,...,NaN,NaN,NaN,NaN,1783057,80,48817,-66,NaN,NaN
3,2019/05/04 00:12:48,NaN,NaN,NaN,NaN,NaN,NaN,20.48,12.70,NaN,...,NaN,NaN,NaN,NaN,1784163,80,48397,-66,NaN,NaN
4,2019/05/04 00:15:16,NaN,NaN,NaN,NaN,NaN,NaN,21.65,13.78,NaN,...,NaN,NaN,NaN,NaN,1785260,80,49639,-67,NaN,NaN

In [ ]:
data = pd.concat([pd.read_csv(f,delimiter=';'])